@{
    ViewBag.Title = "Nasıl Çalışır?";
}
<br />
<br />
<div align="center">
    <div class="jumbotron">
        <h1>Ustam.com</h1>
        <p class="lead">Ustam.com ustayı müşteriyle buluşturan basit ve kullanışlı bir platformdur.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2 style='background:#FF6800' class="text-light">Ustalar</h2>
            <p>
                Usta olarak kayıt olup ilanınızı oluşturduktan sonra arkanıza yaslanıp teklifleri değerlendirmeniz yeterli.
                İşleriniz her zamankinden daha fazla olacak ve daha çok kazanacaksınız.
            </p>

        </div>
        <div class="col-md-4">
            <h2 style='background:#FF6800' class="text-light">Müşteriler</h2>
            <p>Aradığınız ustayı dükkan dükkan dolaşmak yerine buradaki sertifikası ile doğrulanmış ustalardan aradığınız hizmeti bulup daha kolay bir işlem gerçekleştirmiş olacaksınız.</p>

        </div>
        <div class="col-md-4">
            <h2 style='background:#FF6800' class="text-light">İlanlar</h2>
            <p>İlanlar sertifikası doğrulanmış ustalar tarafından yapabileceği işler belirtilerek açılır ve müşteriler aradığı hizmete göre güvence altında hizmetini alır.</p>

        </div>
    </div>
</div>