@{
    ViewBag.Title = "İletişim";
}
<br />
<br />

<h2 style='background:#FF6800' class="text-light">İletişim</h2>
<br />
<h3>Nihat Harun Karadana</h3>

<address>
    <strong>Okul No:</strong>   19720111041<br />
    <strong>Ders:</strong> İnternet Programlama II<br />
    <strong>Konu:</strong> Final Ödevi
</address>