@model IEnumerable<UstamOdev.Models.onayli_isler>

@{
    ViewBag.Title = "Bekleyen Müşteriler";
    Layout = "~/Views/Shared/_UstaLayout.cshtml";
}
<br />
<br />
<br />
<h2 style='background:#FF6800' class="text-light">Onay Bekleyen Müşteriler</h2>

@foreach (var item in Model)
{
    <div class="card" style="flex-direction:row; margin-bottom:1em; background:#FF6800">
        <div class="card-body" style='background:#adadad'>
            <h5 class="card-title">Müşteri İsmi: @item.musteriler.musteri_isim_soyisim</h5>
            <div class="card-footer">
                @Html.ActionLink("Profili Görüntüle", "MusteriProfil", new { musteri_id = item.musteri_id }, new { @class = "btn btn-secondary" })
                @Html.ActionLink("Onayla", "Onay", new { onay_id = item.onay_id, musteri_id = item.musteri_id, is_id = item.is_id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Reddet", "Red", new { onay_id = item.onay_id, musteri_id = item.musteri_id, is_id = item.is_id }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}
